html {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    font-size: 14px;
    line-height: 150%;
    color: #777;
    background: #dedede;
}

div.site {
  margin: 0 auto;
  padding: 10px;
  width: 90%;
  max-width: 970px;
}

div#content {
  float: left;
  width: 75%;
  padding: 10px;
  background: #f0f0f0;
  border: 1px solid white;
}

div#column {
  float: right;
  width: 20%;
  background-color: #efefef;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}


code, pre, tt, textarea {
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre {
  padding: 10px;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 85.7142857%; /** 12/14 **/
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
