div.site {
  margin: 0 auto;
  padding: 10px;
  width: 90%;
  max-width: 970px;
  background: #efefef;
  border: 1px solid white;
}

html {
    margin: 0;
    font-family: Helvetica;
    font-size: 16px;
    color: #black;
    background: #004080;
}

h1 {
}
