html {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    font-size: 14px;
    line-height: 150%;
    color: #777;
    background: #D9DFE4;
}

div.site {
  margin: 0 auto;
  padding: 10px;
  width: 90%;
  max-width: 990px;
}

div#content {
  float: right;
  width: 80%;
  padding: 10px;
  background: white;
  border: 1px solid gray;
}

div#column {
  font-size: 0.9em;
  float: right;
  width: 15%;
  padding: 5px 10px;
  background-color: #efefef;
  border-top-left-radius: 5% 5%;
  -moz-border-top-left-radius: 5% 5%;
  -webkit-border-top-left-radius: 5% 5%;
  border-bottom-left-radius: 5% 5%;
  -moz-border-bottom-left-radius: 5% 5%;
  -webkit-border-bottom-left-radius: 5% 5%;
}

div#column a {
  display: block;
  color: blue;
  text-decoration: underline;
  margin-bottom: 6px;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}


code, pre, tt, textarea {
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre {
  padding: 10px;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 85.7142857%; /** 12/14 **/
}



div#column ul {
    list-style: none;
}
div#column ul li ul {
    margin-bottom: 0.75em;
}
div#column ul li ul li ul {
    margin-bottom: 0.25em;
}


.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
